.App{
  align-items: center;
  text-align: center;
  background-color: lightblue;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(32, 37, 39);
  color: white;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.Popularitems{

}
.flexbox{
  display: flex;
  flex-direction: column;
  
}
.flexbox h1{
  color: white;
}

.flexbox:first-child{
 
  color: blue;
}
.itemList{
  display: flex;
  flex-direction: row;
}
.item{
  width: 20%;

}
.item img{
  width: 80%;
}
.flexwrap{
  display: flex;
  flex-wrap: wrap;
}